@tailwind base;
@tailwind components;
@tailwind utilities;
    body{
      font-family:"poppins",sans-serif;
      background-color: rgb(146, 250, 108);
    }
    h1,h2{
      font-family: "Roboto",sans-serif;
    }
    .main{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      background-color: rgb(241, 134, 134);
      padding: 20px;
      
      color: rgb(10, 1, 1);
      font-size: 20px;
      font-weight: bold;
      position: sticky;
      top: 0;
      z-index: 100;
    
    }
    .main a{
      text-decoration: none;
      color: rgb(10, 1, 1);
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }
    .container{
      display: flex;
      margin: 4px auto;
    background-color: aqua;
      height: 100vh;
      font-size: 40px;
      font-weight: bold;
    }
    .container img{
     object-fit: cover;
     width: 20%;
     height: 50%;
      border-radius: 50%;
    }